.AuthWrap {
    width: 100vw;
    height: 100vh;
    background-color: #f1f7fa;
}

.Auth {
    position: absolute;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
}

.Auth h1 {
    font-size: 20px;
}

.Auth input {
    display: block;
    width: 150px;
    height: 20px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}