.Contacts {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contacts div {
    width: 50%;
    margin-top: 100px;
    overflow: auto;
    text-align: center;
}

.Contacts h1 {
    font-size: 30px;
}

.Contacts p {
    margin-top: 30px;
    font-size: 20px;
}