.Navbar {
    width: auto;
    height: 48px;
    display: flex;
    background: rgb(65,87,101);
    background: linear-gradient(90deg, rgba(65,87,101,1) 0%, rgba(66,89,103,1) 100%);
    border-bottom: 3px solid #292929;
}

.Logo {
    position: absolute;
    flex-direction: row-reverse;
    width: 110px;
    height: 17px;
    margin: 15px 0 0 30px;
}

.Navbar ul {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    margin: auto;
}

.Navbar ul li {
    /*margin: 0 10px;*/
}

.Navbar ul li img {
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

.Navbar ul li img:hover {
    filter: invert(0%);
}